body{
    font-family: 'Poppins';
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.lista--tarea {
    padding: 2px;
    border-radius: 5px;
    margin: 5px;
}
.lista--tarea-pen{
    background-color: rgb(144, 166, 238);
}
.lista--tarea-com{
    background-color: rgb(230, 230, 230);
    color: gray;
}

p{
    margin: 2px;
}